{% assign on_sale = false %}
{% if product.compare_at_price > product.price %}
{% assign on_sale = true %}
{% endif %}

{% assign sold_out = true %}
{% if product.available %}
{% assign sold_out = false %}
{% endif %}


<div class="prod_sticky">
  
  <section id="content">

    {% comment %} Breadcrumbs y navegación Anterior/Siguiente eliminados {% endcomment %}
    <div class="">
      <div class="content-page container container-v1">      
        <div class="content-page-detail">
          <div class="row">
            <div class="col-lg-7 col-md-7 col-sm-12 col-12">
              <div class="gallery-control">  
                
                {% if section.settings.spd_style =="pd_sticky_2" %}
                <div class="main_img" style="padding-bottom:15px;">

                  {% if product.metafields.engo_video.video_link != blank   %}
                  <div class="btn-video" data-fancybox href="{{product.metafields.engo_video.video_link}}">
                    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         viewBox="0 0 294.843 294.843" style="enable-background:new 0 0 294.843 294.843;" xml:space="preserve">
                      <g>
                        <path d="M278.527,79.946c-10.324-20.023-25.38-37.704-43.538-51.132c-2.665-1.97-6.421-1.407-8.392,1.257s-1.407,6.421,1.257,8.392
                                 c16.687,12.34,30.521,28.586,40.008,46.983c9.94,19.277,14.98,40.128,14.98,61.976c0,74.671-60.75,135.421-135.421,135.421
                                 S12,222.093,12,147.421S72.75,12,147.421,12c3.313,0,6-2.687,6-6s-2.687-6-6-6C66.133,0,0,66.133,0,147.421
                                 s66.133,147.421,147.421,147.421s147.421-66.133,147.421-147.421C294.842,123.977,289.201,100.645,278.527,79.946z"/>
                        <path d="M109.699,78.969c-1.876,1.067-3.035,3.059-3.035,5.216v131.674c0,3.314,2.687,6,6,6s6-2.686,6-6V94.74l88.833,52.883
                                 l-65.324,42.087c-2.785,1.795-3.589,5.508-1.794,8.293c1.796,2.786,5.508,3.59,8.294,1.794l73.465-47.333
                                 c1.746-1.125,2.786-3.073,2.749-5.15c-0.037-2.077-1.145-3.987-2.93-5.05L115.733,79.029
                                 C113.877,77.926,111.575,77.902,109.699,78.969z"/>
                      </g>

                    </svg>
                    <span class="text_video">{{'products.product.video' | t}}</span>
                  </div>
                  {% endif %}

                  <div class="img_thumb">
                    {% for image in product.images %}
                    {% if forloop.first %}
                    <a class="" href="{{ image | product_img_url: "master" }}"  data-fancybox="images" >
                      <img class="lazyload engoj_img_main w-100 img-fluid" data-src="{{ image.src | img_url: 'master' }}" alt="{{ image.alt | escape }}" alt="{{product.title}}"/>
                    </a> 
                    {% endif %}
                    {% endfor %}
                  </div>
                </div>
                <div class="row">
                  {% for image in product.images %}
                  {% unless forloop.first %}
                  <div class="col-6 gutter pt-3">
                    <a class="" href="{{ image | product_img_url: "master" }}"  data-fancybox="images">
                      <img  data-src="{{ image.src | product_img_url: 'master' }}" alt="{{product.title}}" class="lazyload">
                    </a>
                  </div>
                  {% endunless %}
                  {% endfor %}
                </div>


                {% else %}
                
                 <div class="">
                  {% if product.metafields.engo_video.video_link != blank   %}
                  <div class="btn-video" data-fancybox href="{{product.metafields.engo_video.video_link}}">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 512.13 512.13" style="enable-background:new 0 0 512.13 512.13;" xml:space="preserve">
                      <g>
                        <g>
                          <path d="M346.541,221.958l-121.198-87.091c-11.977-8.591-27.338-11.977-39.315-5.077c-11.977,5.077-18.746,18.747-18.746,34.107    v184.335c0,15.361,6.769,27.338,18.746,34.107c5.077,1.692,10.284,3.385,15.361,3.385c8.592,0,17.054-3.385,23.953-10.285    l121.198-87.092c11.977-8.591,18.746-20.439,18.746-34.107C365.286,242.397,358.518,230.42,346.541,221.958z M326.102,262.835    l-121.198,87.091c-1.692,0-3.385,1.692-3.385,1.692s0-1.692,0-3.385V163.899c0-1.692,0-3.385,0-3.385    c1.692,0,1.692,1.692,5.077,3.385l121.197,87.091c1.692,0,3.385,3.385,3.385,5.077S329.487,261.141,326.102,262.835z"/>
                        </g>
                      </g>
                      <g>
                        <g>
                          <path d="M256.065,0C114.43,0,0,114.298,0,256.065S114.298,512.13,256.065,512.13S512.13,397.832,512.13,256.065    S397.702,0,256.065,0z M256.065,477.892c-122.891,0-221.828-98.937-221.828-221.828S133.175,34.236,256.065,34.236    s221.828,98.937,221.828,221.828S378.956,477.892,256.065,477.892z"/>
                        </g>
                      </g>
                    </svg>
                    <span class="text_video">{{'products.product.video' | t}}</span>
                  </div>
                  {% endif %}

                  <div class="img_thumb ">
                    {% for image in product.images %}
                    <div class="engoj-nav-item  {% if section.settings.ena_zoom %}js-zoom-img zoom-image {% endif %} {% unless forloop.last %} img_item {% endunless %}">
                      <img class="lazyload {% if forloop.first %} engoj_img_main {% endif %} w-100 img-fluid img_sticky" data-src="{{ image.src | img_url: 'master' }}" alt="{{ image.alt | escape }}" alt="{{product.title}}"/>
                    </div> 
                    {% endfor %}
                  </div>
                </div>
                
                {% endif %}
                
                
               

              </div>
            </div>    
            <div class="col-lg-5 col-md-5 col-sm-12 col-12 sticky_content js_sticky  ">

              <div class="detail-info">
                <style>
                  /* === Fuente D-DIN === */
                  @font-face {
                    font-family: 'D-DIN';
                    src: url('{{ "D-DIN.woff2" | asset_url }}') format('woff2'),
                         url('{{ "D-DIN.woff" | asset_url }}') format('woff'),
                         url('{{ "D-DIN.otf" | asset_url }}') format('opentype');
                    font-weight: 400;
                    font-style: normal;
                    font-display: swap;
                  }

                  /* === Estilos del detalle del producto === */
                  .product-detail-new {
                    font-family: 'D-DIN', sans-serif;
                  }

                  .product-detail-new .product-title-new {
                    font-family: 'D-DIN', sans-serif;
                    font-size: 32px;
                    font-weight: 400;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    color: #000;
                    margin-bottom: 20px;
                    line-height: 1.2;
                  }

                  .product-detail-new .product-title-line {
                    border: none;
                    border-top: 1px solid #000;
                    width: 100%;
                    margin: 20px 0;
                  }

                  .product-detail-new .product-price-new {
                    font-family: 'D-DIN', sans-serif;
                    font-size: 20px;
                    font-weight: 400;
                    color: #000;
                    margin-bottom: 20px;
                  }

                  .product-detail-new .product-separator {
                    border: none;
                    border-top: 1px solid #000;
                    width: 100%;
                    margin: 20px 0;
                  }

                  .product-detail-new .product-size-section {
                    margin: 30px 0;
                  }

                  .product-detail-new .product-size-label {
                    font-family: 'D-DIN', sans-serif;
                    font-size: 14px;
                    font-weight: 400;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                    color: #000;
                    margin-bottom: 10px;
                    display: block;
                  }

                  .product-detail-new .product-size-box {
                    display: inline-block;
                    padding: 12px 24px;
                    border: 1px solid #666;
                    background: #fff;
                    color: #000;
                    font-family: 'D-DIN', sans-serif;
                    font-size: 16px;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                    cursor: default;
                  }

                  .product-detail-new .product-buttons {
                    margin: 30px 0;
                  }

                  .product-detail-new .product-btn {
                    width: 100%;
                    padding: 15px 20px;
                    font-family: 'D-DIN', sans-serif;
                    font-size: 14px;
                    font-weight: 400;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                    border: none;
                    cursor: pointer;
                    transition: opacity 0.3s ease;
                    margin-bottom: 15px;
                    text-align: center;
                    display: block;
                  }

                  .product-detail-new .product-btn:hover {
                    opacity: 0.8;
                  }

                  .product-detail-new .product-btn-addcart {
                    background: #fff;
                    border: 2px solid #000;
                    color: #000;
                  }

                  .product-detail-new .product-btn-buynow {
                    background: #000;
                    color: #fff;
                  }

                  .product-detail-new .product-btn:disabled {
                    opacity: 0.5;
                    cursor: not-allowed;
                  }

                  /* Estilos para el botón de pago de Shopify */
                  .product-detail-new .product-btn-buynow-wrapper {
                    margin-top: 0;
                  }

                  .product-detail-new .product-btn-buynow-wrapper .shopify-payment-button {
                    margin-top: 0;
                  }

                  .product-detail-new .product-btn-buynow-wrapper .shopify-payment-button__button {
                    width: 100% !important;
                    padding: 15px 20px !important;
                    font-family: 'D-DIN', sans-serif !important;
                    font-size: 14px !important;
                    font-weight: 400 !important;
                    text-transform: uppercase !important;
                    letter-spacing: 1px !important;
                    background: #000 !important;
                    color: #fff !important;
                    border: none !important;
                    border-radius: 0 !important;
                    margin-bottom: 15px !important;
                    transition: opacity 0.3s ease !important;
                  }

                  .product-detail-new .product-btn-buynow-wrapper .shopify-payment-button__button:hover {
                    opacity: 0.8 !important;
                  }

                  .product-detail-new .product-btn-buynow-wrapper .shopify-payment-button__button--unbranded {
                    background: #000 !important;
                    color: #fff !important;
                  }

                  /* === Estilos de acordeones === */
                  .product-accordion-item {
                    border-bottom: 1px solid #000;
                    padding: 20px 0;
                  }

                  .product-accordion-question {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    cursor: pointer;
                    padding: 0;
                    background: none;
                    border: none;
                    width: 100%;
                    text-align: left;
                    font-family: 'D-DIN', sans-serif;
                    font-size: 14px;
                    font-weight: 400;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                    color: #000;
                    transition: opacity 0.3s ease;
                    line-height: 1.4;
                    margin-bottom: 15px;
                  }

                  .product-accordion-question span:first-child {
                    flex: 1;
                  }

                  .product-accordion-question:hover {
                    opacity: 0.7;
                  }

                  .product-accordion-icon-wrapper {
                    flex-shrink: 0;
                    margin-left: 20px;
                    width: 20px;
                    height: 20px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                  }

                  .product-accordion-icon {
                    width: 20px;
                    height: 20px;
                    transition: transform 0.3s ease;
                  }

                  .product-accordion-icon-plus,
                  .product-accordion-icon-minus {
                    display: none;
                  }

                  .product-accordion-question[aria-expanded="false"] .product-accordion-icon-plus {
                    display: block;
                  }

                  .product-accordion-question[aria-expanded="true"] .product-accordion-icon-minus {
                    display: block;
                  }

                  .product-accordion-answer {
                    font-family: 'D-DIN', sans-serif;
                    font-size: 14px;
                    line-height: 1.6;
                    color: #333;
                    padding-top: 15px;
                    padding-left: 0;
                  }

                  /* === Responsive === */
                  @media (max-width: 768px) {
                    .product-detail-new .product-title-new {
                      font-size: 24px;
                    }

                    .sticky_content.js_sticky {
                      position: relative !important;
                    }
                  }
                </style>

                <div class="product-detail-new">
                  {% comment %} Detectar la opción de talla {% endcomment %}
                  {% assign size_option_index = 0 %}
                  {% assign size_found = false %}
                  {% for option in product.options %}
                    {% assign option_lower = option | downcase %}
                    {% if option_lower == 'size' or option_lower == 'talla' %}
                      {% assign size_option_index = forloop.index0 %}
                      {% assign size_found = true %}
                      {% break %}
                    {% endif %}
                  {% endfor %}
                  
                  {% if size_found == false %}
                    {% assign size_option_index = 0 %}
                  {% endif %}

                  {% assign current_variant = product.selected_or_first_available_variant %}
                  {% if size_option_index == 0 %}
                    {% assign current_size = current_variant.option1 %}
                  {% elsif size_option_index == 1 %}
                    {% assign current_size = current_variant.option2 %}
                  {% else %}
                    {% assign current_size = current_variant.option3 %}
                  {% endif %}

                  {% comment %} Título del producto {% endcomment %}
                  <h2 class="product-title-new">{{ product.title | upcase }}</h2>
                  <hr class="product-title-line">

                  {% comment %} Precio {% endcomment %}
                  <div class="product-price-new">
                    {% capture price %}{{ product.price | money }}{% endcapture %}
                    {% if on_sale %}
                      <del class="enj-product-price-compare" style="text-decoration: line-through; margin-right: 10px;">{{ product.compare_at_price | money }}</del>
                    {% endif %}
                    <span class="enj-product-price engoj_price_main">{{ price }}</span>
                  </div>

                  {% comment %} Línea separadora {% endcomment %}
                  <hr class="product-separator">

                  {% comment %} Talla {% endcomment %}
                  {% if current_size != blank %}
                  <div class="product-size-section">
                    <span class="product-size-label">
                      {% if request.locale.iso_code == 'es' %}
                        TALLA
                      {% else %}
                        SIZE
                      {% endif %}
                    </span>
                    <div class="product-size-box">{{ current_size }}</div>
                  </div>
                  {% endif %}

                  {% comment %} Formulario de compra {% endcomment %}
                  {% if settings.enable_catalog_mode == false %}
                    {% if product.metafields.engo_external.external_name != blank %}
                      <div class="product-buttons">
                        <a href="{{product.metafields.engo_external.external_url}}" class="product-btn product-btn-addcart">
                          {{product.metafields.engo_external.external_name}}
                        </a>
                      </div>
                    {% else %}
                      <form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm" class="cart">
                        {% comment %} Select oculto para variantes {% endcomment %}
                        <select name="id" id="productSelect" class="product-single__variants" style="display: none;">
                          {% for variant in product.variants %}
                            {% if variant.available %}
                              <option {% if variant == current_variant %} selected="selected" {% endif %} data-sku="{{ variant.sku }}" value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money_with_currency }}</option>
                            {% else %}
                              <option disabled="disabled">
                                {{ variant.title }} - {{ 'products.product.sold_out' | t }}
                              </option>
                            {% endif %}
                          {% endfor %}
                        </select>

                        {% comment %} Swatches ocultos para mantener funcionalidad {% endcomment %}
                        {% if product.available and product.variants.size > 1 %}
                          <div style="display: none;">
                            {% for option in product.options %}
                              {% include 'swatch' with option %}
                            {% endfor %}
                          </div>
                        {% endif %}

                        {% comment %} Botones {% endcomment %}
                        <div class="product-buttons">
                          {% if sold_out %}
                            <button type="button" class="product-btn product-btn-addcart" disabled>
                              {{ 'products.product.out_of_stock' | t | upcase }}
                            </button>
                          {% else %}
                            <button type="submit" class="product-btn product-btn-addcart enj-add-to-cart-btn engoj-btn-addtocart">
                              {% if request.locale.iso_code == 'es' %}
                                AÑADIR AL CARRITO
                              {% else %}
                                ADD TO CART
                              {% endif %}
                            </button>
                            
                            {% form 'product', product %}
                              <div class="product-btn-buynow-wrapper">
                                {{ form | payment_button }}
                              </div>
                            {% endform %}
                          {% endif %}
                        </div>
                      </form>
                    {% endif %}
                  {% endif %}

                  {% comment %} Acordeones {% endcomment %}
                  <div class="product-accordions">
                    {% comment %} Acordeón 1: ENVÍOS {% endcomment %}
                    <div class="product-accordion-item">
                      <button class="product-accordion-question" type="button" data-toggle="collapse" data-target="#productShipping" aria-expanded="false" aria-controls="productShipping" data-parent=".product-accordions">
                        <span>
                          {% if request.locale.iso_code == 'es' %}
                            ENVÍOS
                          {% else %}
                            SHIPPING
                          {% endif %}
                        </span>
                        <span class="product-accordion-icon-wrapper">
                          <svg class="product-accordion-icon product-accordion-icon-plus" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
                            <polygon points="276,236 276,0 236,0 236,236 0,236 0,276 236,276 236,512 276,512 276,276 512,276 512,236"/>
                          </svg>
                          <svg class="product-accordion-icon product-accordion-icon-minus" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
                            <rect y="236" width="512" height="40"/>
                          </svg>
                        </span>
                      </button>
                      <div id="productShipping" class="collapse">
                        <div class="product-accordion-answer">
                          {% if request.locale.iso_code == 'es' %}
                            <p>Envios en Caracas – Tarifa plana 5$</p>
                            <p>Envios nacionales – MRW cobro destino</p>
                            <p>Worldwide shipping – Contáctanos</p>
                          {% else %}
                            <p>Shipping in Caracas – Flat rate $5</p>
                            <p>National shipping – MRW destination charge</p>
                            <p>Worldwide shipping – Contact us</p>
                          {% endif %}
                        </div>
                      </div>
                    </div>

                    {% comment %} Acordeón 2: DEVOLUCIONES Y CAMBIOS {% endcomment %}
                    <div class="product-accordion-item">
                      <button class="product-accordion-question" type="button" data-toggle="collapse" data-target="#productReturns" aria-expanded="false" aria-controls="productReturns" data-parent=".product-accordions">
                        <span>
                          {% if request.locale.iso_code == 'es' %}
                            DEVOLUCIONES Y CAMBIOS
                          {% else %}
                            RETURNS AND EXCHANGES
                          {% endif %}
                        </span>
                        <span class="product-accordion-icon-wrapper">
                          <svg class="product-accordion-icon product-accordion-icon-plus" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
                            <polygon points="276,236 276,0 236,0 236,236 0,236 0,276 236,276 236,512 276,512 276,276 512,276 512,236"/>
                          </svg>
                          <svg class="product-accordion-icon product-accordion-icon-minus" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
                            <rect y="236" width="512" height="40"/>
                          </svg>
                        </span>
                      </button>
                      <div id="productReturns" class="collapse">
                        <div class="product-accordion-answer">
                          {% if request.locale.iso_code == 'es' %}
                            <p>Solo se aceptarán cambios o devoluciones por piezas que se encuentren dañadas o por contactar por correo 5 días desde la compra del producto.</p>
                          {% else %}
                            <p>Only changes or returns will be accepted for items that are damaged or by contacting by email 5 days from the purchase of the product.</p>
                          {% endif %}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
        {% comment %} FASE 2: Featured Icon eliminado
        {% if section.settings.ena_featured_icon %}
        {% include 'featured-icon' %}
        {% endif %}
        {% endcomment %}
      </div>
      {% if section.settings.ena_sticky_addcart %}
      <div class="sticky_addcart">
        <div class="container container-v4">
          <div class="row">
            <div class="d-flex col-sm-6 align-items-center relative">
              {% for image in product.images %}
              {% if forloop.first %}
              <div class="img_left">
                <img width="60" height="60" class="lazyload engoj_img_main img-fluid" data-src="{{ image.src | img_url: 'master' }}" alt="{{ image.alt | escape }}" alt="{{product.title}}"/>
              </div>
              {% endif %}
              {% endfor %}

              <div class="info_right">
                <h2 class="product-title ">{{product.title}}</h2>
                <div class="product-price ">                      
                    {% capture price %}{{ product.price | money }}{% endcapture %}
                    {% if on_sale %}<del class="enj-product-price-compare">{{ product.compare_at_price | money }}</del> {% endif %}
                    <ins class="enj-product-price engoj_price_main">{{ price }}</ins>
                </div>
                {% if section.settings.show_rating %}
                <div class="wrap-rating">
                  <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
                </div>
                {% endif %}
              </div>

              <div class="d-sm-none d-block position_add" style="position: absolute;  {% if settings.enable_rtl_mode %} left: 15px {% else %} right: 15px; {% endif %}">
                {% if settings.enable_catalog_mode == false %}
                {% if product.metafields.engo_external.external_name != blank %}

                <div class=" btn-action">
                  <a href="{{product.metafields.engo_external.external_url}}" class="shop-button-amazon" >{{product.metafields.engo_external.external_name}}</a>
                </div>  

                {% else %}
                {% if sold_out %}
                <div class="btn-action">
                  <div class="shop-button-soldout">
                    {{ 'products.product.out_of_stock' | t }}
                  </div>
                </div>  
                {% else %}
                <div class="btn-action detail-attr qty-cart">
                  <button type="submit" class="shop-button btn-add-stickycart">
                    {{settings.pia_addcart_name}}
                  </button>
                </div>
                <!-- End add to cart & quantity -->
                {% endif %}
                {% endif %}
                {% endif %}
              </div>
            </div>

            <div class="col-sm-6 d-sm-flex d-none justify-content-sm-end justify-content-start align-items-center">
              {% if settings.enable_catalog_mode == false %}
              {% if product.metafields.engo_external.external_name != blank %}

              <div class=" btn-action">
                <a href="{{product.metafields.engo_external.external_url}}" class="shop-button-amazon" >{{product.metafields.engo_external.external_name}}</a>
              </div>  

              {% else %}
              {% if sold_out %}
              <div class="btn-action">
                <div class="shop-button-soldout">
                  {{ 'products.product.out_of_stock' | t }}
                </div>
              </div>  
              {% else %}
              <div class="btn-action detail-attr qty-cart">
                <button type="submit" class="shop-button btn-add-stickycart">
                  {{settings.pia_addcart_name}}
                </button>
              </div>
              <!-- End add to cart & quantity -->
              {% endif %}
              {% endif %}
              {% endif %}

            </div>

          </div> 
        </div>
      </div>

      <style>
        @media(max-width: 576px){
          .sticky_addcart{
            {% if section.settings.style_stickyaddcart == "top" %}
            top:75px;
            bottom: auto;
            transform: translateY(-100%);
            opacity: 0;
            transition: .8s;
            {% elsif section.settings.style_stickyaddcart == "bottom" %}
            bottom: 50px;
            top: auto;
            transform: translateY(100%);
            opacity: 0;
            transition: .8s;
            {% endif %}
          }
        }

      </style>

      {% endif %}
    </div>  
  </section>

  {% comment %} FASE 2: Tab Product Details eliminado
  {% include 'tab-product-details' %}
  {% endcomment %}

  {% comment %} FASE 2: Social Share Product eliminado
  {% if section.settings.show_social_share %}
  {% include 'social_share-product' %}
  {% endif %}
  {% endcomment %}

  {% comment %} FASE 2: Related Product se mantiene {% endcomment %}
  {% if settings.enable_related_product %}
  {% include 'related-product-new' %}
  {% endif %}

</div>

<style>
  .list_ul_engo_full ul li{
    color: {{settings.color_content_infosale}}
  }
  .list_ul_engo_full ul li:before{
    border-color: transparent transparent transparent {{settings.color_content_infosale}};
  }
  .list_ul_engo_full .title-list{
    color: {{settings.color_content_infosale}}
  }
</style>


<script>
  function random(min,max){
    return Math.floor(Math.random()*(max-min+1)+min);
  }
  {% if settings.ena_random_sold_item %}
  var initial = random({{settings.min_prod1}}, {{settings.max_prod1}});
  var count = initial;
  document.getElementById('random_prod').innerHTML = count;
  setInterval(function() {
    if (count <= 5) { 
      count +=5;}

    var variation = random(-5,5);
    count += variation;
    if(count>={{settings.max_prod1}}){
       count ={{settings.max_prod1}};
       }
       if(count<=0){
      count ={{settings.max_prod1}};
    }
    document.getElementById('random_prod').innerHTML = count;

  },{% if settings.settime_random_sold != blank %} {{settings.settime_random_sold}}000  {% else %} 5000{% endif %})
  {% endif %}  

  {% if settings.ena_random_sold_item %}  
  var initial2 = random({{settings.min_prod2}}, {{settings.max_prod2}});
  var count2 = initial2;
  document.getElementById('random_hour').innerHTML = count2;
  setInterval(function() {
    if (count2 <= 5) { 
      count2 +=5;}

    var variation2 = random(-5,5);
    count2 += variation2;
    if(count2>={{settings.max_prod2}}){
       count2 ={{settings.max_prod2}};
       }
       if(count2<= 0){
      count2 ={{settings.max_prod2}};
    }
    document.getElementById('random_hour').innerHTML = count2;

  }, {% if settings.settime_random_sold != blank %} {{settings.settime_random_sold}}000  {% else %} 5000{% endif %})  
  {% endif %}  

  {% if settings.ena_random_visit %}
  var initial3 = random({{settings.min_visit}}, {{settings.max_visit}});
  var count3 = initial3;
  document.getElementById('realtime_visit').innerHTML = count3;
  setInterval(function() {
    if (count3 <= 5) { 
      count3 +=5;}

    var variation3 = random(-5,5);
    count3 += variation3;
    if(count3>={{settings.max_visit}}){
       count3 ={{settings.max_visit}};
       }
       if(count3<=0){
      count3 ={{settings.max_visit}};
    }
    document.getElementById('realtime_visit').innerHTML = count3;

  },{% if settings.settime_random_visitor != blank %} {{settings.settime_random_visitor}}000 {% else %} 3000 {% endif %})    

  {% endif %}

  {% if settings.ena_countdown %}
  jQuery(document).ready(function($) {
    var intinal4 = random(1, {{settings.max_product}});
                          var count4 = intinal4;
                          document.getElementById('random_sold_prod').innerHTML = count4;
    $('.progress-bar').css('width', function(){
      return count4/{{settings.max_product}}*100 + '%';
    });
    setInterval(function() {
      count4 -= 1;
      if(count4 ==0){
        count4 = {{settings.max_product}};
      }
      document.getElementById('random_sold_prod').innerHTML = count4;
      $('.progress-bar').css('width', function(){
        return count4/{{settings.max_product}}*100 + '%';
      });
    }, {% if settings.settime_hurry_stock != blank %} {{settings.settime_hurry_stock}}000 {% else %}10000 {% endif %})  

  }); 
  {% endif %}



  jQuery(document).ready(function($) {
    $('.btn-add-stickycart').on( 'click', function() {
      $('.shop-button.enj-add-to-cart-btn.engoj-btn-addtocart').click();
    });

    // Función para actualizar la talla mostrada
    function updateProductSize(variant) {
      if (!variant) return;
      
      var sizeOptionIndex = 0;
      var productOptions = {{ product.options | json }};
      
      // Encontrar el índice de la opción "Size" o "Talla"
      for (var i = 0; i < productOptions.length; i++) {
        var optionLower = productOptions[i].toLowerCase();
        if (optionLower === 'size' || optionLower === 'talla') {
          sizeOptionIndex = i;
          break;
        }
      }

      // Obtener la talla de la variante
      var currentSize = '';
      if (sizeOptionIndex === 0 && variant.option1) {
        currentSize = variant.option1;
      } else if (sizeOptionIndex === 1 && variant.option2) {
        currentSize = variant.option2;
      } else if (sizeOptionIndex === 2 && variant.option3) {
        currentSize = variant.option3;
      }

      // Actualizar el recuadro de talla
      if (currentSize) {
        $('.product-size-box').text(currentSize);
      }
    }

    // Extender el selectCallback si existe
    if (typeof window.selectCallback !== 'undefined') {
      var originalSelectCallback = window.selectCallback;
      window.selectCallback = function(variant, selector) {
        // Llamar al callback original
        if (originalSelectCallback) {
          originalSelectCallback(variant, selector);
        }
        // Actualizar la talla
        updateProductSize(variant);
      };
    }

    // También escuchar cambios en el select directamente
    $(document).on('change', '#productSelect', function() {
      var variantId = $(this).val();
      var productData = {{ product | json }};
      var variant = productData.variants.find(function(v) {
        return v.id == variantId;
      });
      if (variant) {
        updateProductSize(variant);
      }
    });

    // Escuchar cambios en los swatches (si existen)
    $(document).on('change', '.swatch input[type="radio"]', function() {
      setTimeout(function() {
        var variantId = $('#productSelect').val();
        var productData = {{ product | json }};
        var variant = productData.variants.find(function(v) {
          return v.id == variantId;
        });
        if (variant) {
          updateProductSize(variant);
        }
      }, 100);
    });
  }); 

</script>
