<div data-section-id="{{ section.id }}" data-section-type="section-product-v5" style="{% if section.settings.margin_top != blank %}margin-top: {{section.settings.margin_top}}px;{%endif%} {% if section.settings.margin_bottom != blank %}margin-bottom: {{section.settings.margin_bottom}}px;{% endif %}">
  <div class="section-product-v5">
    <div class="container container-v1">
      <div class="title_flex">      
        {% if section.settings.section_title != blank %}
        <h3>{{section.settings.section_title}}<svg width="19" height="33" viewBox="0 0 19 33" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M5.99688 0.5L0.69632 16.2055H6.58584L0.5 32.5L16.5982 13.2607H10.9049L18.365 0.5H5.99688Z" fill="#BA7A2D"/>
        </svg></h3>   
        
        {% endif %}
        
        <div class="countdown-timer">
          {% if section.settings.countdown-date != blank %}
          <ul class="mb-0" data-countdown="countdown-v3" data-date="{{section.settings.countdown-date}}">
          </ul>
          {% else %}
          <ul class="mb-0" data-countdown="" data-date="2022-12-12-12-12-12"><li>11</li>:<li>58</li>:<li>52</li></ul>
          {% endif %}
        </div>
      </div>
      
      <div class="row js_section_product_5">   
        {% assign products_limit = section.settings.products_limit %}
        {% assign col = section.settings.select_collection %}
        {% for product in collections[col].products limit: products_limit %}
        <div class="col-xl-3 col-md-4 col-6 product_item">
          {% include 'product-item-v1' %}
        </div>
        {% else %}
        {% for i in (1..products_limit) %}
        <div class="col-xl-3 col-md-4 col-6 product_item">
          {% include 'empty-product-item' %}
        </div>
        {% endfor %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "PRODUCT V5",
  "settings": [
    {
      "type": "header",
      "content": "Product 5"
    },
    {
      "type": "text",
      "id": "section_title",
      "label": "Title section",
      "default": "Flash Deal"
    },
	{
      "type": "header",
      "content": "Countdown Date"
    },
    {
      "type": "text",
      "id": "countdown-date",
      "label": "Enter the date you want",
      "info": "Format: Year-Month-Day-Hour-Minute-Second"
    },
    {
      "type": "header",
      "content": "Info Product"
    },
    {
      "type": "collection",
      "id": "select_collection",
      "label": "Select Collection"
    },
    {
      "type": "range",
      "id": "products_limit",
      "label": "Limit products",
      "min": 2,
      "max": 50,
      "step": 1,
      "default": 6
    },
    {
      "type": "header",
      "content": "Section Space"
    },
    {
      "type": "text",
      "id": "margin_top",
      "label": "Margin Top",
      "info": "Defined in pixels. Do not add the 'px' unit."
    },
    {
      "type": "text",
      "id": "margin_bottom",
      "label": "Margin Bottom",
      "info": "Defined in pixels. Do not add the 'px' unit."
    }
  ],
  "presets": [
    {
      "name": "PRODUCT V5",
      "category": "HOME"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}